<!DOCTYPE html>
<html lang="en">

    <head>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        {% block head %}
        <title>Basic Django WepApp WebSite</title>
        {% endblock %}
    </head>

    <body class="body" style="background-color:#eee">
        <div>
            <div class="container">
                <ul class="navbar navbar-default">
                {% if user.is_authenticated %}
                    <ul class="header">
                        <a class="btn btn-success" href="/home" role="button">Home</a>
                        <a class="btn btn-info" href="/webapp" role="button">Quotes</a>
                    </ul>
                {% else %}
                <ul class="navbar navbar-default">
                    <ul class="header">
                        <a class="btn btn-success" href="/home" role="button">Home</a>
                    </ul>
                </ul>
                {% endif %}
                <ul class="navbar navbar-right">
                    <ul>
                        <a class="btn btn-primary" href="/accounts/login" role="button">Login</a>
                        <a class="btn btn-danger" href="/accounts/logout" role="button">Log Out</a>
                        <a class="btn btn-warning" href="/accounts/register" role="button">Register</a>
                    </ul>
                </ul>
            </div>
        {% block content %}
        {% endblock %}
        </div>
    </body>
