<!DOCTYPE html>
<html lang="en">

<head>
    <title>User Test</title>
    <meta charset="utf-8" />
</head>

<body class="body" style="background-color:#cecece">
    <div>
            <div clas="container">
                <nav class="navbar navbar-default">
                    <ul class="header">
                        <li><a href='/home'>Home</a></li>
                        <li><a href='/webapp'>WebAppForm</a></li>
                        <li><a href='/accounts'>Login</a></li>
                    </ul>
                </nav>
            </div>
        {% block content %}
        {% endblock %}
    </div>
</body>

</html>