{% extends "header.html" %}

{% block head %}
<title>Quote Application</title>
{% endblock %}

{% block content %}
<div class="container">
    <h2>Welcome to the User Input Test</h2>
    <p>Please tell us your favorite quote:</p>
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" value="submit">Submit</button>   
    </form>

    <h2>Record of posts:</h2>
    {{ text }}
    {% for post in posts %}
        <ul>
        <li><h3>Quote: {{ post.post }}</h3>
        <p>Posted on {{ post.date }} by {{ post.User }}</p></li>
        </ul>
    {% endfor %}

</div>
{% endblock %}